.todo_container{
    margin-top: 20px;
}

.header{
    background-color: white;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .header{
        justify-content: center;
    }
}
